.sidenav {
  height: 100%;
  width: 5px;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.main-content {
  height: 500px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

#main {
  margin-left: 10px;
  transition: margin-left .5s;
}

.closeContainer {
  position: absolute;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  background-color: white;
  top: 1em;
  right: -13px;
}

.closebtn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  width: 35px;
  height: 35px;
  top: 0;
  font-size: 30px;
  border-radius: 50%;
  transition: 0.5s;
}

.closebtn:hover {
  color: gray;
}

a.closebtn:hover {
  color: gray;
  text-decoration: none;
  cursor: pointer;
}

.rotate {
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.revers-rotate {
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}

.closeside {
  position: absolute;
  width: 1px;
  height: 100%;
  z-index: 1;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
