.calendar {
  position: relative;
  height: 100%;
  width: 100%;
  max-width: 100vh;
  padding: 1%;
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  transition: 0.5s;
  align-items: center;
  background-image: url('./Photo by Chris Lawton on Unsplash.jpg');
  background-size: 100% auto;
  background-position: center;
  border-radius: 1%;
}

@-webkit-keyframes animationAppear {
  from { opacity: 0 }
  to { opacity: 1 }
}

@keyframes animationAppear {
  from { opacity: 0 }
  to { opacity: 1 }
}


/* For using flex-start */
.day-container {
  width: 14.2%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.month-title {
  width: 80%;
  background-color: rgba(47.5, 43.9, 29.4, 0.3);
  padding: 2%;
  border-radius: 0.3rem;
}

.weekdays {
  padding: 0.5rem;
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.days {
  width: 3rem;
  height: 3rem;
  padding: 0.1rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: solid;
  background-color: rgba(47.5, 43.9, 29.4, 0.3);
  -webkit-animation-name: animationAppear;
  -webkit-animation-duration: 1s;
  animation-name: animationAppear;
  animation-duration: 1s;
}

/* Customized the different day components */
.dayName {
  border-color: rgba(255, 111, 0, 1);
  background-color: rgba(255, 111, 0, 0.5);
}

.weekend {
  border-color: #FF4646;
  background-color: rgba(255, 70, 70, 0.5);
}

.today {
  border-color: rgba(248, 235, 18, 0.5);;
  background-color: rgba(248, 235, 18, 0.5);
}
