.icon-bar {
  position: fixed;
  right: 1%;
  top: 4em;
  width: 3em;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0);
  transition: 0.5s;
  -webkit-animation: mymove 1s ; /* Chrome, Safari, Opera */
  animation: mymove 1s ;
}

.calendarIcon {
  padding: 5px;
  width: 45px;
  height: 45px;
  text-align: center;
  font-size: 30px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0);
}

.calendarIcon:hover {
  color: #79704B;
  cursor: pointer;
}

@-webkit-keyframes mymove {
  0% {right: -3%;}
  100% {right: 1%;}
}

/* Standard syntax */
@keyframes mymove {
  0% {right: -3%;}
  100% {right: 1%;}
}
