.icon-bar {
  position: fixed;
  right: 1em;
  top: 4em;
  width: 3em;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0);

  z-index: 20;
}

.calendarIcon {
  padding: 5px;
  width: 45px;
  height: 45px;
  text-align: center;
  font-size: 30px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0);
}

.calendarIcon:hover {
  color: #79704B;
  cursor: pointer;
}
