.icon {
  font-size: 1em;
  color: orange;
  -webkit-animation: mymove 5s infinite; /* Chrome, Safari, Opera */
  animation: mymove 5s infinite;
}

.timer {
  right: 50%;
  margin-left: 1em;
  transform: translate(-50%);
}

@-webkit-keyframes mymove {
  0% {color: orange;}
  50% {color: red;}
  100% {color: orange;}
}

/* Standard syntax */
@keyframes mymove {
    0% {color: orange;}
    50% {color: red;}
    100% {color: orange;}
}

@media (max-width: 575.98px) {
  .normalviewport {
    display: none;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .normalviewport {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .normalviewport {
    display: none;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .mobile {
    display: none;
  }
}
@media (min-width: 1200px) {
  .mobile {
    display: none;
  }
}
