footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: white;
  font-size: 1rem;
  height: 10em;
  background-color: #343a40;
}

.imgme {
  width: 64px;
  height: 64px;
  border-radius: 50%;
}

.footer-content {
  width: 20em;
}
