#SideFixPanel {
  position: fixed;
  padding: 0.3rem 0;
  top: 3.75rem;
  right: 2.5%;
  height: 80%;
  width: 95%;
  border-radius: 0.5rem;
  background-color: rgba(170, 57, 57,0.5);
  -webkit-animation-name: animateright;
  -webkit-animation-duration: 1s;
  animation-name: animateright;
  animation-duration: 1s;
  overflow: hidden;
}

@-webkit-keyframes animateright {
  from {right:-70%; opacity:0}
  to {right:2.5%; opacity:1}
}

@keyframes animateright {
  from {right:-70%; opacity:0}
  to {right:2.5%; opacity:1}
}
